*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f8f8f8;
}



.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.logo{
font-size:22px;
font-weight:bold;
color:#ff6a00;
}

.logo span{
color:#00b56a;
display: flex;
align-items: center;
gap: 10px;
font-size: 22px;
font-weight:bold ;
}
.logo img{
    width: 40px;
    height: auto;
}


nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav a{
text-decoration:none;
color:#333;
font-weight:500;
}

.active a{
background:#ff6a00;
color:white;
padding:6px 16px;
border-radius:20px;
}



.actions button{
border:none;
padding:7px 16px;
margin-left:10px;
border-radius:20px;
cursor:pointer;
}

.night{
background:#f3f3f3;
}

.signin{
background:white;
border:1px solid #ff6a00;
color:#ff6a00;
}

.register{
background:#00b56a;
color:white;
}



.projects{
text-align:center;
padding:80px;
}

.projects p{
color:#ff6a00;
font-weight:bold;
letter-spacing:2px;
margin-bottom:10px;
}

.projects h1{
font-size:40px;
color:#111;
}